body{
    background: rgb(238, 175, 214);
}

.nav-enlace
{
    display: inline-block;
    background: rgb(134, 58, 128);
    color:rgb(240, 193, 236);
    padding: 10px 30px;
    text-decoration: none;
    border: 2px solid rgb(255, 5, 192);
}
.nav-enlace:hover
{
    background: darkmagenta;
    color: darksalmon;

}
nav
{
    background: salmon;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border: 2px solid rgb(184, 5, 255);
}
.nav-boton{
    background: salmon;
    color: rgb(92, 26, 4);
    padding: 10px 0;
    border: 2px solid burlywood;
    display: none;
}
h1{ text-align: center;
    padding: 1px;
    background: rgb(243, 83, 163);
    margin: 1px 30%;
    border: 2px solid rgb(250, 3, 184);
}
h2{
    text-align: center;
    padding: 1px;
    background: salmon;
    margin: 1px 35%;
    border: 2px solid rgb(255, 5, 192);
}
div{
    padding: 1px;
    text-align: left;
    text-shadow: 2px 1px 5px rgb(236, 22, 154);
    background: rgb(238, 175, 214);
    margin: 1px;
    border: 2px solid rgb(248, 49, 132);


}

@media (max-width: 600px) {
    nav {
        background: rgb(252, 4, 128);
        flex-direction: column;
    }
    .nav_enlace{
        margin:  10px 0;
   
    }
    .nav-boton{
        display: inline-block;
    }
    .ocultar{
        display: none;
    }
   }